@charset "UTF-8";
@font-face {
  font-family: "SF Pro Display";
  src: local("☺"), url("/wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.woff2") format("woff2"), url("/wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.woff") format("woff"), url("/wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.ttf") format("truetype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.hero-heading {
  font-size: 5.6rem;
  line-height: 1.07;
  font-weight: 600;
  margin-bottom: 1rem;
}

.heading-32px {
  font-size: 3.2rem;
  line-height: 1.07;
  font-weight: 600;
  margin-bottom: 1rem;
}

.body-text--24px {
  font-size: 2.4rem;
  line-height: 1.14;
  font-weight: 400;
  margin-bottom: 3rem;
}

.body-text--20px {
  font-size: 2rem;
  line-height: 1.14;
  font-weight: 400;
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  body {
    font-size: 1.4rem;
  }
  .hero-heading {
    font-size: 3.2rem;
  }
  .body-text--24px {
    font-size: 1.9rem;
  }
}
.block-display {
  visibility: visible !important;
  opacity: 1 !important;
}

.margin-sm {
  margin-top: 0.8rem;
}

.btn--blue:link, .btn--blue:visited {
  padding: 1.1rem 2.1rem;
  border-radius: 80rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 100%, 45%);
}
.btn--transparent:link, .btn--transparent:visited {
  background-color: transparent;
  padding: 1.1rem 2.1rem;
  border-radius: 80rem;
  text-decoration: none;
  border: 1px solid hsl(210, 100%, 45%);
  color: hsl(210, 100%, 45%);
}
.btn--transparent:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 100%, 45%);
  border: 1px solid transparent;
}
.btn--white:link, .btn--white:visited {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  min-width: 3rem;
  padding: 0.7rem 1.5rem;
  color: hsl(0, 0%, 0%);
  background-color: rgb(244, 244, 244);
}
.btn--white:hover, .btn--white:active {
  background-color: hsl(0, 0%, 100%);
}

button {
  outline: none;
  border: none;
  background-color: none;
}

@media (max-width: 412px) {
  .btn--white:link, .btn--white:visited {
    font-size: 1.2rem;
  }
}
@media (max-width: 412px) {
  .accordion {
    width: 100%;
    text-align: left;
  }
}
.header {
  height: 4.4rem;
}
.header__nav {
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
  max-width: 100rem;
  flex: 0 0 100rem;
  height: 100%;
  justify-content: space-between;
}
.navbar-content a:link, .navbar-content a:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: hsl(0, 0%, 0%);
}

.nav-icons {
  font-size: 1.9rem;
  color: hsl(0, 0%, 0%);
}

.menu-container {
  display: none;
}

.menu {
  font-size: 3rem;
}

.dropdown-content {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  padding: 0 1.1rem;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
  transition: all 0.4s;
}

.submenu-header {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 0.9rem;
  color: hsl(0, 0%, 47%);
}

.row-wrapper {
  max-width: 100rem;
  margin: 0 auto;
}

.row {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1.5fr 2fr;
  width: 70%;
  padding-top: 4rem;
  padding-bottom: 8.4rem;
}

.column ul {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.column--1 a:link, .column--1 a:visited {
  font-size: 2.4rem;
  font-weight: 600;
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.overlay {
  background: rgba(232, 232, 237, 0.4);
  backdrop-filter: blur(20px);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) 80ms, visibility 0.32s step-end 80ms;
}

@media (max-width: 500px) {
  .header {
    width: 100vw;
    background-color: hsl(0, 0%, 100%);
  }
  .header__nav {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    justify-content: start;
  }
  .logo-container {
    flex: 1;
  }
  .navbar-content {
    display: none;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
  }
  .menu-container {
    display: block;
  }
}
.hero {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
}
.hero > * {
  height: 85vh;
  align-content: center;
  background-color: hsl(0, 17%, 98%);
}
.hero__holiday {
  position: relative;
  background: none;
}
.hero__holiday > figure {
  width: 100%;
  height: 100%;
  background-color: rgb(245, 244, 244);
}
.hero__holiday-content {
  position: absolute;
  bottom: 5rem;
  left: 23rem;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
}
.hero__iphone {
  background-image: url("../img/iphone_family.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
}
.hero__iphone-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__airpods {
  background-image: url("../img/AirPods Pro 3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
}
.hero__airpods-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}

@media (max-width: 500px) {
  .hero > * {
    height: 50rem;
    align-content: center;
    text-align: center;
  }
  .hero__holiday-content {
    position: absolute;
    bottom: 4rem;
    left: 8rem;
    margin: 0 auto;
    width: 25rem;
  }
  .hero__iphone {
    background-image: url("../img/iPhone_mobile.jpg");
  }
  .hero__iphone-content {
    width: 25rem;
  }
  .hero__airpods {
    background-image: url("../img/airpods_mobile.jpg");
  }
  .hero__airpods-content {
    width: 25rem;
  }
}
.promo {
  margin-top: 1.5rem;
}
.promo__content {
  width: 97vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.promo-item {
  height: 49rem;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start;
}
.promo-item > .copy {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apple-watch {
  background-image: url(../img/Apple\ Watch.jpg);
}

.ipad {
  background-image: url(../img/ipad.jpg);
}

.macbook-air {
  background-image: url(../img/MacBook\ Air.jpg);
}

.ipad-air {
  background-image: url(../img/iPad\ Air.jpg);
}

.apple-trade-in {
  background-image: url(../img/iPhone\ TradeIn.jpg);
}

.apple-card {
  background-image: url(../img/Apple\ Card.jpg);
}

.ipad_air_logo {
  width: 20rem;
}

.apple_watch_logo {
  width: 30rem;
}

.trade_in_logo {
  width: 20rem;
}

.apple_card_logo {
  width: 15rem;
}

@media (max-width: 500px) {
  .promo__content {
    width: 97vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .promo-item > .copy {
    width: 25rem;
    text-align: center;
  }
  .promo-item.ipad .copy {
    width: 32rem;
  }
  .promo-item.apple-card .copy {
    width: 30rem;
  }
  .ipad_air_logo {
    width: 13rem;
  }
  .apple-watch {
    background-image: url(../img/apple_watch_mobile.jpg);
  }
  .apple_watch_logo {
    width: 25rem;
  }
  .trade_in_logo {
    width: 15rem;
  }
  .apple_card_logo {
    width: 10rem;
  }
}
.entertainment {
  background-color: hsl(0, 17%, 98%);
  max-width: 100vw;
  height: 100vh;
  margin: 1.5rem auto;
  overflow: hidden;
}
.entertainment > h2 {
  text-align: center;
  margin: 3rem 0;
}

.swiper {
  height: 100vh;
  margin: 0 auto;
  width: 85vw;
  overflow: visible;
}
.swiper-slide {
  position: relative;
  width: inherit;
  background-size: cover;
}
.swiper-slide > .slide__content {
  position: absolute;
  top: 85%;
  left: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.swiper-slide > .slide__content p {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}
.swiper-slide span {
  font-weight: 700;
}

.slide--1 {
  background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/Family\ Plan.jpg);
}

.slide--2 {
  background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/Plauribus.jpg);
}

.slide--3 {
  background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/Spirited.jpg);
}

.slide--4 {
  background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url("../img/Charlie Brown.jpg");
}

.slide--5 {
  background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url("../img/The Morning Show.jpg");
}

.slide--6 {
  background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/Down\ Cemetry\ Road.jpg);
}

.slide--7 {
  background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/Slow\ Horses.jpg);
}

.slide--8 {
  background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/Last\ Frontier.jpg);
}

.slide--9 {
  background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/Loot.jpg);
}

@media (max-width: 500px) {
  .entertainment {
    height: 60rem;
  }
  .swiper {
    margin: 0 auto;
    height: inherit;
  }
  .swiper-slide {
    width: 28rem;
  }
  .swiper-slide > .slide__content {
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 80%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }
  .swiper-slide > .slide__content > a {
    order: 2;
  }
  .swiper-slide > .slide__content p {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
  }
  .swiper-slide span {
    text-align: center;
    font-weight: 700;
  }
  .slide--1 {
    background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/mob5.jpg);
  }
  .slide--2 {
    background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/mob4.jpg);
  }
  .slide--3 {
    background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/mob7.jpg);
  }
  .slide--4 {
    background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url("../img/mob6.jpg");
  }
  .slide--5 {
    background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url("../img/mob8.jpg");
  }
  .slide--6 {
    background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/mobile1.jpg);
  }
  .slide--7 {
    background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/mob2.jpg);
  }
  .slide--8 {
    background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/mob3.jpg);
  }
  .slide--9 {
    background-image: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), url(../img/mob9.jpg);
  }
  .text-dot {
    display: none;
  }
}
.media {
  max-width: 100vw;
  overflow: hidden;
  background-color: hsl(0, 17%, 98%);
}

#media-swiper {
  margin: 0 auto;
  max-width: 85vw;
  overflow: visible;
}
#media-swiper .swiper-wrapper {
  width: 42rem;
  height: 24rem;
}
#media-swiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
#media-swiper .swiper-slide > .s__content {
  color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#media-swiper .swiper-slide > .s__content > .logo {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: end;
}
#media-swiper .swiper-slide > .s__content > .copy {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#media-swiper .swiper-slide > .s__content > .copy2 {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: hsl(0, 0%, 0%);
}

.swiper-pagination {
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 1 rem;
}

.image-small {
  height: 100%;
}
.image-small > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__image {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 15%;
  left: 6%;
}
.item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.s1 {
  background: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), hsl(0, 0%, 0%);
}

.s4 {
  background: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), rgb(34, 34, 183);
}

.s7 {
  background: radial-gradient(100% 33% at left bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0)), rgb(80, 80, 80);
}

.center-text {
  color: hsl(0, 0%, 100%);
  height: 100%;
  transform: translate(48%, 50%);
}

@media (max-width: 500px) {
  #media-swiper .swiper-wrapper {
    width: 19rem;
    height: 25.4rem;
  }
  #media-swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #media-swiper .swiper-wrapper .swiper-slide > .s__content p {
    width: 12.8rem;
  }
  #media-swiper .swiper-wrapper .swiper-slide > .s__content > .logo {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
  }
  #media-swiper .swiper-wrapper .swiper-slide > .s__content > .copy {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  #media-swiper .swiper-wrapper .swiper-slide > .s__content > .copy2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .item__image {
    width: 12.2rem;
    height: 12.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
  .item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
  }
  .center-text {
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 17%);
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .center-text--1 {
    text-wrap: nowrap;
  }
  .center-text--2 {
    text-wrap: nowrap;
  }
}
.footer {
  padding-bottom: 2rem;
  color: rgba(0, 0, 0, 0.56);
  background-color: hsl(0, 17%, 98%);
}
.footer a:hover, .footer a:active {
  border-bottom: 0.01px solid rgba(0, 0, 0, 0.56);
}
.footer__content {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}
.footer__heading {
  display: none;
}
.footer__section--1 {
  padding: 1.7rem 0 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.footer__section--1 li {
  font-size: 1.3rem;
  padding-bottom: 0.8rem;
}
.footer__nav-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.footer__nav {
  padding-top: 2rem;
}
.footer__section--3 {
  margin-top: 2rem;
  font-size: 1.2rem;
}
.footer__section--3 > div {
  display: flex;
  justify-content: space-between;
}
.footer__section--3 ul {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
}
.footer__section--3 li {
  position: relative;
}
.footer__section--3 li:not(:last-child):after {
  content: "|";
  position: absolute;
  right: -1.2rem;
}
.footer__section--3 a:link, .footer__section--3 a:visited {
  color: rgba(0, 0, 0, 0.56);
}

.chevron-container {
  display: none;
}

.extra-info {
  font-size: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.extra-info a:link, .extra-info a:visited {
  color: hsl(210, 100%, 45%);
  border-bottom: 1px solid;
}

.footer-drop a:link, .footer-drop a:visited {
  color: rgba(0, 0, 0, 0.56);
  font-size: 1.2rem;
}

.column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.column h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6941176471);
}

@media (max-width: 500px) {
  .footer__nav-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  .footer__nav-item {
    display: grid;
    grid-template-columns: 2rem 1fr auto;
    row-gap: 1rem;
  }
  .footer__nav-item > h3 {
    grid-column: 1/span 2;
  }
  .footer-drop {
    grid-column: 2/3;
    display: block;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  .chevron-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chevron-up {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  .col {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  .footer__section--3 > div {
    flex-direction: column;
    gap: 1rem;
  }
  .footer__section--3 > div > ul {
    flex-wrap: wrap;
    justify-content: start;
    gap: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
