.header {
  height: 4.4rem;

  &__nav {
    width: 100%;
    height: 100%;
    background-color: $color-white;
  }
}

.navbar-content {
  display: flex;
  align-items: center;
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;

  & a:link,
  & a:visited {
    text-decoration: none;
    font-size: 1.2rem;
    color: $color-black;
  }
}

.nav-icons {
  font-size: 1.7rem;
  color: $color-black;
}

.dropdown-content {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  padding: 0 1.1rem;
  background-color: $color-white;
  overflow: hidden;
  transition: all 0.4s;
}

.submenu-header {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 0.9rem;
  color: $color-grey;
}

.row-wrapper {
  max-width: 100rem;
  margin: 0 auto;
}

.row {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1.5fr 2fr;
  width: 70%;
  padding-top: 4rem;
  padding-bottom: 8.4rem;
}

.column {
  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }

  &--1 a:link,
  &--1 a:visited {
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.overlay {
  background: rgba(232, 232, 237, 0.4);
  backdrop-filter: blur(20px);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) 80ms,
    visibility 0.32s step-end 80ms;
}

.nav-menu,
.modal-close {
  display: none;
}

@media (max-width: 950px) {
  .navbar-content {
    gap: 2rem;
  }
  .navbar-content .dropdown {
    display: none;
  }

  .navbar-content :first-child {
    flex: 1;
  }

  .nav-menu,
  .modal-close {
    display: block;
  }

  .navbar-content_container {
    position: fixed;
    inset: 0;
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 7rem;
    padding-left: 4rem;
    z-index: 2000;
    background-color: white;
    a {
      color: black;
      // font-size: 2rem;
    }
  }

  .navbar-content_container.show-navbar {
    display: flex;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    min-height: 100vh;
    padding: 0 1.1rem;
    background-color: $color-white;
    transition: all 0.4s;
    overflow-y: auto;
    overscroll-behavior: contain;

    & .column--1 {
      a {
        font-size: 1.8rem;
      }
    }
  }

  .dropdown-content.show-dropdown {
    display: block;
  }

  .row-wrapper {
    max-width: 100vw;
    min-height: 110vh;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 6rem 4rem;
  }

  .column {
    &--1 {
      gap: 2rem;
    }

    &--2,
    &--3 {
      gap: 2rem;
      h2 {
        font-size: 1.7rem;
      }

      a:link,
      a:visited {
        font-size: 1.7rem;
      }
    }
    & ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .chevron-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}
