.header {
  height: 4.4rem;

  &__nav {
    width: 100%;
    height: 100%;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
  max-width: 100rem;
  flex: 0 0 100rem;
  height: 100%;
  // margin: 0 auto;
  justify-content: space-between;

  & a:link,
  & a:visited {
    text-decoration: none;
    font-size: 1.2rem;
    color: $color-black;
  }
}

.nav-icons {
  font-size: 1.9rem;
  color: $color-black;
}

.menu-container {
  display: none;
}

.menu {
  font-size: 3rem;
}

.dropdown-content {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  padding: 0 1.1rem;
  background-color: $color-white;
  overflow: hidden;
  transition: all 0.4s;
}

.submenu-header {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  margin-bottom: 0.9rem;
  color: $color-grey;
}

.row-wrapper {
  max-width: 100rem;
  margin: 0 auto;
}

.row {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1.5fr 2fr;
  width: 70%;
  padding-top: 4rem;
  padding-bottom: 8.4rem;
}

.column {
  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }

  &--1 a:link,
  &--1 a:visited {
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.overlay {
  background: rgba(232, 232, 237, 0.4);
  backdrop-filter: blur(20px);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.6, 1) 80ms,
    visibility 0.32s step-end 80ms;
}

@media (max-width: 500px) {
  .header {
    width: 100vw;
    background-color: $color-white;

    &__nav {
      margin: 0 auto;
      width: 95%;
      height: 100%;
      background-color: $color-white;
      justify-content: start;
    }
  }

  .logo-container {
    flex: 1;
  }

  .navbar-content {
    display: none;
    flex-direction: column;
    height: 100vh;
    background-color: $color-white;
  }

  .menu-container {
    display: block;
  }
}
