.footer {
  padding-bottom: 2rem;
  color: rgba(0, 0, 0, 0.56);
  background-color: $color-grey-light;

  & a:hover,
  & a:active {
    border-bottom: 0.01px solid rgba(0, 0, 0, 0.56);
  }

  &__content {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
  }

  &__heading {
    display: none;
  }

  &__section--1 {
    padding: 1.7rem 0 1.1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);

    & li {
      font-size: 1.3rem;
      padding-bottom: 0.8rem;
    }
  }

  &__nav-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__nav {
    padding-top: 2rem;
  }

  &__section--3 {
    margin-top: 2rem;
    font-size: 1.2rem;

    & > div {
      display: flex;
      justify-content: space-between;
    }

    & ul {
      display: flex;
      justify-content: space-around;
      gap: 2.5rem;
    }

    & li {
      position: relative;
    }

    & li:not(:last-child):after {
      content: "|";
      position: absolute;
      right: -1.2rem;
    }

    & a:link,
    & a:visited {
      color: rgba(0, 0, 0, 0.56);
    }
  }
}

.chevron-container {
  display: none;
}

.extra-info {
  font-size: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;

  & a:link,
  & a:visited {
    color: $color-blue;
    border-bottom: 1px solid;
  }
}

.footer-drop {
  & a:link,
  & a:visited {
    color: rgba(0, 0, 0, 0.56);
    font-size: 1.2rem;
  }
}

.column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  & h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #000000b1;
  }
}

// MOBILE SCREEN

@media (max-width: 500px) {
  .footer__nav-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .footer__nav-item {
    display: grid;
    grid-template-columns: 2rem 1fr auto;
    row-gap: 1rem;
  }

  .footer__nav-item > h3 {
    grid-column: 1 / span 2;
  }

  .footer-drop {
    grid-column: 2 / 3;
    display: block;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .chevron-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chevron-up {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .col {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .footer__section--3 {
    & > div {
      flex-direction: column;
      gap: 1rem;

      & > ul {
        flex-wrap: wrap;
        justify-content: start;
        gap: 2rem;
      }
    }
  }
}
