.hero {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;

  & > * {
    height: 85vh;
    align-content: center;
    background-color: $color-grey-light;
  }

  &__holiday {
    position: relative;
    background: none;

    & > figure {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: rgb(245, 244, 244);
    }
  }

  &__holiday-content {
    position: absolute;
    bottom: 5rem;
    left: 0;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
  }

  &__iphone {
    background-image: url("../img/iphone_family.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: start;

    &-content {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__airpods {
    background-image: url("../img/AirPods\ Pro\ 3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: start;

    &-content {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}

@media (max-width: 950px) {
  .hero {
    & > * {
      height: 50rem;
      align-content: center;
      text-align: center;
    }

    &__holiday {
      &-content {
        position: absolute;
        bottom: 4rem;
        left: 0;
        margin: 0 auto;
      }
    }

    &__iphone {
      background-image: url("../img/iPhone_mobile.jpg");

      &-content {
        width: 25rem;
      }
    }

    &__airpods {
      background-image: url("../img/airpods_mobile.jpg");
      &-content {
        width: 25rem;
      }
    }
  }
}
